# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env/
.venv/
.venv-1/
venv/
Lib/
scripts/

# Environment Files (Machine-specific secrets)
.env
*-local.env
*.local.env

# Databases
*.db

# Logs & Documents
*.log
*.txt
!requirements.txt

# Testing & Coverage
.pytest_cache/
.coverage
coverage/
htmlcov/

# Build Artifacts
build/
dist/
*.egg-info/

# Node / JavaScript
node_modules/

# OS Junk
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
.vscode/launch.json
!.vscode/tasks.json

# Backups & Archives
*.zip
_backup_before_force/